<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue  JS</title>
    <style>
        .Div{
            background-color: red; width: 200px; height:200px;text-align: center;align-items: center; display: inline-block;
            margin: 30px;
            padding: 50px;
            color: azure;

        }
        .color{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h1>Vue JS 3 learning</h1>
    <div id="app">
        <div v-if="showBook">
            <!-- <div v-for="book in books" :class="{color:!book.isFav}" @click="book.isFav=!book.isFav"> -->
            <div v-for="book in filteredBooks" :class="{color:book.isFav}" @click="clickHandler(book)">
                <img :src="book.img" alt="" width="200">
                <h1> Book Title -{{book.title}}</h1>
                <h1> Author -{{book.author}}</h1>
                <h1> Author Age  -{{book.age}}</h1>
                <hr>
            </div>
        </div>
        <button @click="showBook=!showBook">
            <span v-if="showBook">Hide</span>
            <span v-if="!showBook">Show</span>
        </button>
        <hr>

        <a v-bind:href="link">Google</a> <hr>
        <a :href="link">Google Two</a>
        <!-- //$event  This keyword is Key
        <div class="Div" @mouseover="mouseOver($event,'data')">Mouse Hover</div> 
        <div class="Div" @mouseleave="mouseLeave">MouseOut</div>
        <div class="Div" @dblclick="doubleClick">Double Click</div> -->
  
    </div>
    <script src="app.js"></script>
</body>
</html>